h1 {
  border-color: #d3e644;
  border-style: dashed;
}

button {
  padding: 8px;
  color: green;
  background-color: rgb(219, 206, 232);
  text-align: center;
  border-radius: 12px;
}

input {
  padding: 1px;
}