h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  text-align: center;
  border-color: black;
  border-style: dashed;
  border-collapse: collapse;

  color: black;
  width: 50%;

  margin: 0px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th,
td {
  border-collapse: collapse;
  border-color: rgb(68, 0, 255);
  border-style: dashed;

  padding: 3px;
  align-items: center;
  justify-content: center;
}

tr {
  text-align: center;
}

th {
  background-color: black;
  color: aliceblue;
  padding-right: 10px;
}

button {
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
  margin: 0px auto;

  color: rgb(255, 255, 255);
  background-color: rgb(65, 15, 114);

  display: flex;
  align-items: center;

  text-align: center;
  font-size: 15px;
  border-radius: 9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
  margin-left: 300px;

  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;

}

input {
  width: 50%;

  display: flex;
  display: inline-block;

  align-items: center;
  justify-content: center;

  padding: 8px;
  margin: 0px auto;
  border: 2px solid #ccc;
  border-radius: 4px;

  text-align: center;
  vertical-align: middle;

}

.inputs {
  border-style: double;
  padding: 50px;
  margin-left: 200px;
  margin-right: 200px;
}