h1 {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  border-color: black;
  border-style: dashed;
  border-collapse: collapse;
  color: black;
  width: 50%;
}

th,
td {
  border-collapse: collapse;
  border-color: rgb(68, 0, 255);
  border-style: dashed;
  padding: 3px;
}

th {
  background-color: black;
  color: aliceblue;
  padding-right: 10px;
}

button {
  padding: 7px;
  margin-top: 7px;
  color: rgb(0, 0, 0);
  background-color: rgb(219, 206, 232);
  text-align: center;
  border-radius: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inputs {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}